---
const personalImageAlt = "Pedro Rivera";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row font-sans"
  data-aos="fade-up"
>
  <div
    class="[&>p]:mb-4
    [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-blue-300
    [&>p>strong]:font-medium
    text-pretty
    order-2 md:order-1"
  >
    <p>
      Soy <strong>Desarrollador Full Stack</strong> con más de 3 años de experiencia
      construyendo soluciones sólidas y escalables en el sector TI. Trabajo con tecnologías
      como <strong
        >Java, Spring Boot, Angular, TypeScript, PostgreSQL, Oracle SQL</strong
      >, y plataformas cloud como <strong
        >Google Cloud Platform (GCP), AWS y Azure</strong
      >.
    </p>

    <p>
      Me apasiona la <strong>mejora continua</strong> y la adopción de prácticas
      modernas como <strong>Scrum, DevOps y CI/CD</strong>. He desarrollado
      aplicaciones críticas, automatizado procesos clave y gestionado
      despliegues eficientes en entornos cloud.
    </p>

    <p>
      Me caracterizo por una <strong>mentalidad proactiva</strong>, capacidad de
      adaptación y compromiso con los resultados. Disfruto colaborar en equipos
      multidisciplinarios, enfrentar desafíos técnicos y convertir ideas en
      soluciones funcionales y de alto impacto.
    </p>

    <p>
      Siempre busco aprender nuevas herramientas y tecnologías que me permitan
      seguir creciendo y aportar mayor valor a cada proyecto.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl
         bg-black dark:bg-white ring-1 ring-white/70 dark:ring-black/20"
    style="object-position: 50% 50%"
  />
</article>
