---
const personalImageAlt = "Pedro Rivera";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row font-sans"
>
  <div
    class="[&>p]:mb-4
      [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-blue-300
      [&>p>strong]:font-medium
      text-pretty
      order-2 md:order-1"
  >
    <p>
      Me especializo en el <strong>desarrollo de aplicaciones web</strong> utilizando
      tecnologías modernas como Java, JavaScript y TypeScript. Mi experiencia incluye
      frameworks como Angular, Spring y React.
    </p>

    <p>
      En mi rol como desarrollador en RedSalud, he trabajado en la <strong>
        implementación de soluciones empresariales
      </strong> utilizando Google Cloud Platform y SAP, mejorando la eficiencia operacional
      y la gestión de datos.
    </p>

    <p>
      Mi formación en <strong>Ingeniería en Desarrollo de Software</strong> y mi
      experiencia previa en <strong>Mecánica Automotriz</strong> me han proporcionado
      una perspectiva única en la resolución de problemas y la optimización de procesos.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl
         bg-black dark:bg-white ring-1 ring-white/70 dark:ring-black/20"
    style="object-position: 50% 50%"
  />
</article>
